 <!-- Footer -->
 <footer class="footer mt-auto">
    <div class="container-fluid bg-black">
      <div class="container">
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <strong class="d-block text-white mb-2 mt-2">List Heading</strong>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">The current item</a></li>
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">A second item</a></li>
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">A third item</a></li>
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">A fourth item</a></li>
            </ul>
          </div>
          <div class="p-2">
            <strong class="d-block text-white mb-2 mt-2">Bezt </strong>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">About</a></li>
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">Contact</a></li>
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">Privacy Policy</a></li>
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">Disclaimer</a></li>
            </ul>
          </div>
          <div class="p-2">
            <strong class="d-block text-white mb-2 mt-2">Info</strong>
            <ul class="list-unstyled">
              <li class="mb-1"><a href="#" class="d-block text-decoration-none text-white">Ads</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>