{% extends "default/invoice/base_less.html" %}
    {% block content %}
    <div class="container ">
      <div class="invoice-header">
        <div class="company-info">
          <!-- Company Logo and Information -->
          <img src="{{ company.logo_url }}" alt="Company Logo" class="logo">
          <h3>Bezt Bills Inc.</h3>
          <div class="d-flex flex-column">
            <p class="p-0 m-0"><strong>Date:</strong> {{ invoice.date }}</p>
            <p class="p-0 m-0"><strong>Invoice No:</strong> {{ invoice.pk }}</p>
            <p class="p-0 m-0"><strong>Customer Name:</strong> {{ invoice.user }}</p>
            
           </div>
          
           
        </div>
        <div class="invoice-details">
         
          <div class="d-flex flex-column">
            <small class="p-0 m-0">123 Business Rd, Suite 400</small>
            <small class="p-0 m-0">Business City, BC 12345</small>
            <small class="p-0 m-0">Email: support@beztbills.com</small>
            <small class="p-0 m-0">Phone: (555) 123-4567</small>
            {% if invoice.due_date %}
            <p class="p-0 m-0"><strong>Due Date: {{invoice.due_date}}</strong></p>
            {% else %}
            {% endif %}
           </div>
        </div>
      </div>

      <div class="invoice-info">
        <div class="billing">
          <h5>Billing To:</h5>
           <div class="d-flex flex-column flex-wrap">
            <p class="p-0 m-0"><strong>Name:</strong> {{ invoice.customer.name }}</p>
            <p class="p-0 m-0"><strong>Address:</strong> {{ invoice.customer.address }}</p>
            <p class="p-0 m-0"><strong>City, State, ZIP:</strong> {{ invoice.customer.city }}, {{ invoice.customer.state }} {{ invoice.customer.zip }}</p>
            <p class="p-0 m-0"><strong>Email:</strong> {{ invoice.customer.email }}</p>
           </div>
        </div>
        {% comment %} {% if type_service == 'sellar' %} {% endcomment %}
        <div class="shipping">
            <h5>Shipping To:</h5>
             <div class="d-flex flex-column flex-wrap">
                <p class="p-0 m-0"><strong>Name:</strong> {{ invoice.shipping.name }}</p>
                <p class="p-0 m-0"><strong>Address:</strong> {{ invoice.shipping.address }}</p>
                <p class="p-0 m-0"><strong>City, State, ZIP:</strong> {{ invoice.shipping.city }}, {{ invoice.shipping.state }} {{ invoice.shipping.zip }}</p>
                <p class="p-0 m-0"><strong>Email:</strong> {{ invoice.shipping.email }}</p>
             </div>
        </div>
        
        {% comment %} {% else %}
        {% endif %}
       {% endcomment %}

      </div>

      <table class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>Details/Item</th>
            <th>Qty</th>
            <th>Price</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          {% for item in items %}
          <tr>
            <td>{{ item.desc }}</td>
            <td>{{ item.qty }}</td>
            <td>${{ item.price }}</td>
            {% comment %} <td>${{ item.qty * item.price }}</td> {% endcomment %}
          </tr>
          {% endfor %}
          <tr class="total-row">
            <td colspan="3" class="text-end">Subtotal</td>
            {% comment %} <td>${{ subtotal }}</td> {% endcomment %}
          </tr>
          <tr class="total-row">
            {% comment %} <td colspan="3" class="text-end">Tax ({{ tax_rate }}%)</td> {% endcomment %}
            {% comment %} <td>${{ tax_amount }}</td> {% endcomment %}
          </tr>
          <tr class="total-row">
            <td colspan="3" class="text-end">Total</td>
            {% comment %} <td>${{ total }}</td> {% endcomment %}
          </tr>
        </tbody>
      </table>

      <div class="footer border rounded">
        <p>Thank you for your business!</p>
        <p>If you have any questions, please contact us at <a href="mailto:support@beztbills.com">support@beztbills.com</a></p>
      </div>
    </div>
    {% endblock content %}

