{% extends "layouts/base.html" %}

{% block content %}
<div class="container d-flex flex-column align-items-start">
  <h3>Invoice Preview</h3>
  <p>Your invoice ID is: {{ invoice_id }}</p>
</div>

<div class="container d-flex align-items-center justify-content-center mb-2">
  <p class="mb-0">Click to download your invoice:</p>
  <a class="btn btn-sm btn-dark ms-3" href="{% url 'docgen:download_invoice' invoice_id %}">Download</a>
</div>

      

<div class="a4-page-container">
  <div class="a4-page">
    {{ invoice_content|safe }}
      <!-- Add more content as needed -->
  </div>
</div>
 
{% endblock content %}