{% extends "layouts/base.html" %}

{% block content %}
<div class="container">
    
    <table class="table border p-2 m-2" style="width:fit-content;">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Item</th>
            <th scope="col">Status</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
            {% for item in items  %}
          <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{item.invoice.pk}}</td>
            <td>{{item.invoice.status}}</td>
            <td><a href="" class=" btn btn-primary btn-sm">Edit</a></td>
            <td><a href="{% url "invoicemodule:delete_item" item.invoice.pk %}" class=" btn btn-danger btn-sm">Delete</a></td>
          </tr>
          {% endfor %}
          
        </tbody>
      </table>
</div>
{% endblock content %}